*{
   margin: 0;
   transition: all .3s;
}
label{
   color:white;
}

.anchor{
   position: fixed;
   bottom: 3em;
   font-size: xx-large;
}
.hidden{
   display: none;
}
.visible{
   display: block;
}
body{
   background-color: #191919;
   height: 100vh;
}
header{
   height: 8vh;
   display: block;
   background-color: goldenrod;
   color: white;
   
}
header h1{
   margin: auto 0;
   text-align: center;
}
main{
   display: flex;
   height: auto;
   min-height: 92vh;

}

main nav{
   display: flex;
   width: 15vw;
   height:auto;
   background-color: #222222;

}
main nav ul{
   padding: 0;
   list-style: none;
   width: 100%;
}
main nav ul li{
   display: flex;
   margin: 1rem 0;
   width: 100%;
   flex-direction: column;
   align-items: center;
   align-content: center;
   justify-content: stretch;
}
main nav ul li button{
   border: none;
   margin: 0;
   background-color: transparent;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
   padding: 0.5em 1em;
   width: 100%;
   height: auto;
   color: white;
}
main nav ul li button *{
   margin:  auto 10%;
}


main nav ul li form{
   overflow: hidden;
   display: flex;
   align-items: center;
   flex-direction: column;
}
main nav ul li form input{
   
   text-align: center;
   background-color: transparent;
   outline:  none;
   border: none;
   border-bottom: 2px solid goldenrod;
   color: white;
   display: block;
   margin: 2rem auto;
   width: 90%;

}
main nav ul li form input::placeholder{
   text-align: center;
}
main nav ul li form label{
   text-align: center;
   display: block;
   margin: 0 auto;
   width: 90%;
}
main nav ul li form .btn{
   align-self: center;
   width: 100%;
}

main nav ul li .btn:hover{
   color: white;
}
main section{
   padding: 3%
}
main section ul{
   padding: 0;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-auto-rows: 300px;
   gap: 3rem;
}


@media screen and (max-width:700px){
   #begin h1{
      font-size: large;
   }
   main nav{
      width: auto;
   }
   main nav li span{
      display: none;

   }
   main section ul{
      padding: 0;
      display: grid;
      grid-auto-rows: auto;

      grid-template-columns: repeat(1,1fr);
      gap: 3rem;
   }
    
   }


